<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap.min.css">
    <title>My Todo</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>What is your name?</h1>
            </div>
        </div>
        <div class="row">
            <form action="#" data-th-action="@{/}" method="post">
                <div class="col">
                    <div class="mb-2">
                        <div class="mb-2 input-group">
                            <input type="text" name="userName" class="form-control" placeholder="Please enter your name">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary btn-lg">Login</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>


    </div>



</body>
</html>
